# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
hirenv/
*.egg-info/

# Django specific
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE / Editor settings
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

Hiring.ai/hirenv/
D:/Hiring.ai/hirenv